<body>
   
    <div class="wrapper bg-center bg-no-repeat" style="background-image: url(images/school.jpeg);">
 <!--NAVIGATION-->
        <nav class="bg-black bg-opacity-50">
           <img src="images/ca.png" class="img w-14 ml-5 mt-3" alt="logo"> 
           <ul class="float-right mr-20">
               <li><a href="#" class="text-white px-4 py-5">HOME</a></li>
               <li><a href="#" class="text-white px-4 py-5">ABOUT</a></li>
               <li><a href="#" class="text-white px-4 py-5">COURSES</a></li>
               <li><a href="#" class="text-white px-4 py-5">EVENTS</a></li>
               <li><a href="#" class="text-white px-4 py-5">GALLERY</a></li>
               <li><a href="#" class="text-white px-4 py-5">BLOG</a></li>
               <li><a href="#" class="text-white px-4 py-5">PAGES</a></li>
               <li><a href="#" class="text-white px-4 py-5">CONTACT</a></li>
           </ul>
        </nav>
    </div>
</body>